$beleader_size1: "only screen and (max-width : 1217px)";
$beleader_size2: "only screen and (max-width : 1020px)";
$beleader_size3: "only screen and (max-width : 991px)";
$beleader_size4: "only screen and (max-width : 700px)";
$beleader_size5: "only screen and (max-width : 500px)";
$beleader_size6: "only screen and (max-width : 420px)";

.beleader {
  background-image: url('../images/beleader/BGI.jpg');
  background-position:top center;
  background-repeat:no-repeat;
  height: 753px;
  position:relative;
  overflow: hidden;

  @media #{$beleader_size1} {
    background-image: url('../images/beleader/BGI-1217.jpg');
    background-size:cover;
    background-position: 0 0;
  }

  @media #{$beleader_size2} {
    background-image: url('../images/beleader/BGI-1020.jpg');
    height: 630px;
  }

  @media #{$beleader_size4} {
    background-image: url('../images/beleader/BGI-700.jpg');
    height: 433px;
  }

  @media #{$beleader_size5} {
    background-position: -141px 0px;
  }
  
  &__title {
    color: #ffffff;
    font-family: "PF Bague Sans Pro";
    font-size: 70px;
    font-weight: 700;
    line-height: 70px;
    text-transform: uppercase;
    padding-top: 55px;

    @media #{$beleader_size3} {
      font-size: 50px;
      line-height: 50px;
    }

    @media #{$beleader_size4} {
      font-size: 42px;
      line-height: 42px;
      padding-top: 31px;
    }

    @media #{$beleader_size5}{
      font-size: 36px;
      line-height: 36px;
      padding-top: 31px;
    }
  }

  
  &__lead {
    color: #ffffff;
    font-family: "PF Bague Sans Pro";
    font-size: 26px;
    line-height: 32px;
    font-weight: 300;
    margin-top: 54px;

    strong {
      font-weight: 700;
    }

    @media #{$beleader_size2} {
      font-size: 21px;
      line-height: 28px;
      margin-top: 23px;
    }

    @media #{$beleader_size4} {
      font-size: 20px;
      line-height: 22px;
      margin-top: 17px;
    }

    @media #{$beleader_size5}{
      font-size: 17px;
      line-height: 19px;
      margin-top: 17px;
    }

    @media #{$beleader_size6}{
      margin-top: 9px;
    }
  }

  
  &__likeall {
    position: absolute;
    width: 592px;
    height: 91px;
    top: 288px;
    right: -29px;
    background-image: url(../images/beleader/rect-blue.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: contain;
    color: #456191;
    font-family: "PF Bague Sans Pro";
    font-size: 47px;
    font-weight: 900;
    text-transform: uppercase;
    padding-left: 70px;
    padding-top: 7px;

    @media #{$beleader_size2} {
      right: 52px;
      width: 457px;
      font-size: 38px;
    }

    @media #{$beleader_size3} {
      right: 0;
      top: 245px;
    }

    @media #{$beleader_size4} {
      top: 174px;
      font-size: 30px;
      width: 398px;
      right: 5px;
    }

    @media #{$beleader_size5} {
      right: -25px;
    }

    @media #{$beleader_size6} {
      right: -106px;
      top: 220px;
      font-size: 25px;
      width: 359px;
      padding-left: 36px;
    }
  }

  
  &__likeleader {
    position: absolute;
    width: 873px;
    height: 141px;
    top: 552px;
    left: -30px;
    background-image: url(../images/beleader/rect-yellow.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    padding-left: 100px;

    @media #{$beleader_size2} {
      left: 3px;
      width: 722px;
      top:457px;
      background-size: contain;
    }

    @media #{$beleader_size3} {
      left: 0;
    }

    @media #{$beleader_size4} {
      width: 619px;
      top: 289px;
      left: 5px;
    }

    @media #{$beleader_size5} {
      left: -68px;
    }

    @media #{$beleader_size6} {
      padding-left: 82px;
    }
  }

  
  &__likeleader-title {
    font-family: "PF Bague Sans Pro";
    font-size: 70px;
    font-weight: 900;
    line-height: 56px;
    color: #000;
    text-transform: uppercase;
    padding-top: 15px;

    @media #{$beleader_size2} {
      font-size: 47px;
      padding-top: 11px;
      line-height: 47px;
    }

    @media #{$beleader_size4} {
      font-size: 38px;
      padding-top: 10px;
      line-height: 38px;
    }

    @media #{$beleader_size6}{
      font-size: 32px;
      padding-top: 10px;
      line-height: 38px;
    }
  }

  
  &__likeleader-lead {
    font-family: "PF Bague Sans Pro";
    font-size: 24px;
    font-weight: 300;
    line-height: 24px;
    color: #000;
    padding-top: 5px;
    
    strong {
      font-weight: 700;
    }

    @media #{$beleader_size2} {
      font-size: 21px;
      padding-top: 0;
      line-height: 21px;
    }

    @media #{$beleader_size4} {
      font-size: 16px;
      padding-top: 0;
      line-height: 17px;
    }

    @media #{$beleader_size6} {
      font-size: 12px;
      padding-top: 0;
      line-height: 17px;
    }
  }

}