$books-form_size1: "only screen and (max-width : 991px)";
$books-form_size2: "only screen and (max-width : 700px)";
$books-form_size3: "only screen and (max-width : 500px)";



.books-form {
	position: relative;
  height: 160px;
  // width: 915px;

  @media #{$books-form_size1}{
    height: 290px;
  }

  &_sjoz {
    height: auto;
    background-color: #f3f2f2;

    @media #{$books-form_size1}{
      height: auto;
    }
  }

  

  
  
  
  &__inner {
    height: 265px;
    background-color: #f3f2f2;
    text-align: center;
    width: 94%;
    border: 20px solid #fff;
    position: absolute;
    top: -92px;
    left: 3%;
    // margin-left: -416px;
    padding-top: 25px;

    @media #{$books-form_size1}{
      height: 430px;
    }

    &_sjoz {
      position: relative;
      top: 0;
      left: 0;
      width: 89%;
      border: none;
      margin: 0 auto;

      @media #{$books-form_size1} {
        width: 100%;
        height: auto;
        padding-bottom: 30px;
      }
    }
  }

  &__title {

    &_sjoz {
      text-align: center;
      font-weight: 700;
      font-size: 35px;
      color: #282828;
      font-family: "PF Bague Sans Pro";

      @media #{$books-form_size2} {
        font-size: 30px;
        line-height: 30px;
      }
    }
  }

		
	&__text {
		text-align: center;
    font-weight: 700;
    font-size: 24px;
    color: #282828;
		font-family: "PF Bague Sans Pro";
		// line-height: 8px;
		display: inline-block;
		vertical-align: top;
    margin-bottom: 15px;
    width: 55%;

    @media #{$books-form_size1} {
        font-size: 18px;
    }

    @media #{$books-form_size3} {
        font-size: 16px;
    }

    &_sjoz {
      width: 653px;
      color: #7d7d7d;
      font-weight: 300;
      font-size: 20px;
      line-height: 20px;
      margin-top: 15px;
      margin-bottom: 27px;

      @media #{$books-form_size2} {
        width: 100%;
        padding: 0 15px;;
      }
    }


   } 


	&__img{
		background-image: url("../images/for-book/pdf.png");
		background-repeat: no-repeat;
		background-position: top center;
		height: 62px;
    width: 42px;
    display: inline-block;
    vertical-align: top;
    margin-right: 19px;
    margin-top: -8px;

    @media #{$books-form_size1} {
        background-image: url("../images/for-book/pdf2.png");
        position: absolute;
        left: 14%;
        margin-left: -29px;
        top: 36px;
    }
	}

	&__items {
    width: 66% !important;

    @media #{$books-form_size1} {
      width: 100% !important;
    }

    &_sjoz {
      @media #{$books-form_size1} {
        width: 438px !important;
      }

      @media #{$books-form_size2} {
        width: 226px !important;
      }
    }
	}

	&__item{
    width: 47% !important;
		padding: 16px 25px;
		height: 55px;
		font-size: 20px;
		box-shadow: inset 0 0 7px #000;
		outline: none;
		border: 0;
		line-height: 1;
    
    @media #{$books-form_size1} {
      font-size: 16px !important;
      width: 210px !important;
    }

 }

  &__item-first {
    margin-right: 13px;

    &_sjoz {      

      @media #{$books-form_size2} {
        margin-right: 0px;
        margin-bottom: 13px;
      }
    }
  }


	&__btn {
		display: inline-block;
		vertical-align: top;
    width: 25%;


    @media #{$books-form_size1} {
      width: 100%;
      margin-top: 11px;
    }

    &_sjoz {
      margin-left: 9px;

      @media #{$books-form_size1} {
        width: auto !important;
        margin-top: 0;
      }

      @media #{$books-form_size2} {
        width: 100% !important;
        margin-top: 13px;
        margin-left: 0px;
      }
    }
	}

	&__btnitem{
		box-shadow: none;
    display: inline-block;
    vertical-align: top;
    width: 100%;


    @media #{$books-form_size1} {
      width: 210px;
      margin: 0 auto;
      font-size: 16px !important;
    }
  }
}


