$forwho_size1: "only screen and (max-width : 1200px)";
$forwho_size2: "only screen and (max-width : 767px)";
$forwho_size3: "only screen and (max-width : 607px)";



.forwho {
  margin: 0 auto;
  padding-top: 75px;

  @media #{$forwho_size2}{
    padding-top:0;
    padding-bottom: 32px;
  }



  &__title{ 
    // width: 956px;
    color: #000000;
    font-family: "PF Bague Sans Pro";
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase; 
    // margin: 0 auto;
    text-align: center;


    @media #{$forwho_size1}{
      font-size: 35px;
      // width: 570px;
    }

    @media #{$forwho_size2}{
      font-size: 30px;
    }
  }

  &__profession{ 
    padding-top: 143px; 
    width: 1045px;
    margin: 0 auto;

    @media #{$forwho_size1}{
      width: 100%;
      text-align: center;
    }

    @media #{$forwho_size2} {
      padding-top: 41px;
    }
  }

  &__item{ 
    position: relative;
    background-image: url(../images/forwho/frame.png); 
    width: 325px;
    height: 248px;
    display: inline-block;
    vertical-align: top;
    box-shadow: 1px 1px 29px rgba(0, 0, 0, 0.15);
    background-repeat: no-repeat;
    background-position: top center;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 80px;


    @media #{$forwho_size1}{
      margin-left: 2%;
      margin-right: 2%;
      text-align: left;      
    }

    @media #{$forwho_size2}{
      width: 96%;
      background-image:none;
      height: auto;
      margin-bottom: 10px;
      box-shadow: none;
    }

  }


  &__profession-img{
    border: 9px solid #fff;
    width: 128px;
    height: 130px;
    display: inline-block;
    vertical-align: top;
    background-repeat: no-repeat;
    background-position: -28px -28px;
    margin-top: -60px;
    margin-left: 100px;
    
     @media #{$forwho_size2}{
      display: none;
     }

  }

  &__profession-img_1{
    background-image: url(../images/forwho/bag.png);
  }

  &__profession-img_2{
    background-image: url(../images/forwho/stars.png);
  }

  &__profession-img_3{
    background-image: url(../images/forwho/manadger.png);
  }

  &__profession-img_4{
    background-image: url(../images/forwho/freelancer.png);
  }

  &__profession-img_5{
    background-image: url(../images/forwho/bisnes.png);
  }

  &__profession-img_6{
    background-image: url(../images/forwho/brilliant.png);
  }


  &__profession-info{  
    color: #000000;
    font-family: "PF Bague Sans Pro";
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 45px;

    @media #{$forwho_size2}{
      font-size: 19px;
      margin-top: 22px;
      padding-bottom: 23px;
      padding-top: 5px;
    }

    @media #{$forwho_size3}{
      margin-top: 22px;
      display: table-cell;
      vertical-align: middle;
      height: 70px;
      padding-bottom: 0px;
      padding-top: 0px;
      padding-left: 30px;
      padding-right: 49px;
      font-size: 16px;
      text-align: left;
    }

 }

  &__mobile{
  }

  &__mobile-arrow{
    display: none;
    vertical-align: top;
    background-color:#fff;
    background-image: url(../images/forwho/arrow-bottom1.png);
    background-position: -18px -18px;
    background-repeat: no-repeat;
    width: 39px;
    height: 39px;
    position: absolute;
    bottom: 19px;
    right: 15px;
    transition: all .5s ease;

    @media #{$forwho_size2}{
      display: inline-block;

    }

    &_gold {
      background-image: url(../images/forwho/arrow-mob-gold1.png);
      border-radius: 50%;
    }

    .visible & {
      transform: rotate(180deg);
    }   
  }

  &__mobile-text {
    color: #000000;
    font-family: "PF Bague Sans Pro";
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    padding: 0px 20px;
    padding-bottom: 44px;
    transition: height 0.3s linear;
    overflow: hidden;
    height: 0;
    padding-bottom: 0;

    .visible & {     
      
      @media #{$forwho_size2} {
        height: auto;
        padding-bottom: 70px;
      }
    }
  }

  &__mobile-text-p {
    margin:0;
    color: #000000;
    font-family: "PF Bague Sans Pro";
    font-size: 16px;
    font-weight: 400;
  }

  &__mobile-list {
    list-style-type:none;
    padding-left: 6px;
    margin-bottom: 36px;
  }

  &__mobile-list-item {
    position: relative;
    color: #000000;
    font-family: "PF Bague Sans Pro";
    font-size: 16px;
    font-weight: 400;
    padding-left: 31px;
    margin-bottom: 15px;
    
    &:before {
      content: "";
      position: absolute;
      top: -7px;
      left: 0;
      padding-bottom: 10px;
      background-image: url(../images/forwho/check.png);
      background-repeat: no-repeat;
      width: 20px;
      height: 20px;
      background-size: cover;
    }
  }

  &__mobile-subtitle {
    color: #000000;
    font-family: "PF Bague Sans Pro";
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
  }

  &__mobile-btn {
    display: block;
    width: 265px;
    height: 49px;
    margin: 0 auto;
    margin-top: 17px;
    text-align: center;
    color: #0d080b;
    font-family: "PF Bague Sans Pro";
    font-size: 24px;
    line-height: 24px;
    font-weight: 400;
    padding-top: 11px;
    border-bottom: 1px solid #666565;
    text-decoration: none;
    background-color: #ffe917;
  }

  &__box-item-border {
    display: none;
    position:absolute;
    top:0;
    left: 0;
    right: 0;
    bottom:0;
    z-index: -1;

    @media #{$forwho_size2}{
      display: block;
    }
  }

  &__box-item-border-top {
      position:absolute;
      top:0;
      left: 0;
      right: 0;
      height: 4px;
      background: linear-gradient(45deg, #ffff96 0%,#fbe478 43%,#fbe478 43%,#ddc859 70%,#9b8611 100%);
  }

  &__box-item-border-right {
      position:absolute;
      top:0;
      right: 0;
      bottom:0;
      width: 4px;
      background: linear-gradient(45deg, #9b8611 0%,#fbe478 43%,#fbe478 43%,#ddc859 70%,#9b8611 100%);
  }

  &__box-item-border-bottom {
      position:absolute;
      bottom:0;
      left: 0;
      right: 0;
      height: 4px;
      background: linear-gradient(45deg, #9b8611 0%,#fbe478 53%,#fbe478 53%,#ddc859 77%,#dec859 100%);
  }

  &__box-item-border-left {
      position:absolute;
      left: 0;
      top:0;
      bottom:0;
      width: 4px;
      background: linear-gradient(45deg, #9b8611 0%,#fbe478 43%,#fbe478 43%,#ddc859 70%,#ffff96 100%);

  }



  &__profession-info_location{
    width: 274px;
    margin-left: 27px;
    margin-top: 56px;

    @media #{$forwho_size2}{
       margin-top: 22px;
       margin-left: 0;
       width: auto;
    }
  }


  &__hover{
    display: none;
  }

  &__item:hover &__hover{
    display:inline-block;
    vertical-align: top;
    width: 325px;
    height: 303px;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    position: absolute;
    top: -55px;
    z-index: 10;

    @media #{$forwho_size2}{
      display: none;
    }
  }


  &__hover-text{
    width: 274px;
    height: 227px;
    overflow: hidden;
    color: #000000;
    font-family: "PF Bague Sans Pro";
    font-size: 16px;
    font-weight: 400;
    line-height: 20px; 
    margin: 0 auto;
    padding-top: 20px;
  }

  &__hover-list {
    list-style-type:none;
    padding-left: 6px;
  }

  &__hover-list-item {
    position: relative;
    color: #000000;
    font-family: "PF Bague Sans Pro";
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    padding-left: 27px;
    margin-bottom: 5px;

    &:before {
      content: "";
      position: absolute;
      top: -2px;
      left: 0;
      padding-bottom: 10px;
      background-image: url(../images/forwho/check.png);
      background-repeat: no-repeat;
      width: 16px;
      height: 16px;
      background-size: cover;
    }
  }  

  &__hover-link{
    color: #000000;
    font-family: "PF Bague Sans Pro";
    font-size: 16px;
    font-weight: 700;
    line-height: 80px;
    text-decoration: underline;
    text-transform: uppercase;
    padding-left: 27px;
    padding-top: 36px;

  }

  &__item-popup {
    display: none;
    position:fixed;
    top:3%;
    left:50%;
    margin-left: -510px;
    width: 1020px;
    padding: 40px;
    background-color:#fff;
    box-shadow: 0 0 38px rgba(0, 0, 0, 0.3);
    border: 1px solid #dadada;
    z-index: 20;
    border-radius: 4px;

    .mfp-content & {
      display: block;
    }

    @media #{$forwho_size1} {
      width: 764px;
      margin-left: -382px;
    }
    @media #{$forwho_size2} {
      width: 100%;
      margin-left: 0;
      left: 0;
    }
  }

  &__item-popup-title {
    color: #000000;
    font-family: "PF Bague Sans Pro";
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  &__item-popup-text {
    display: inline-block;
    vertical-align: top;
    width: 532px;
    margin-right: 15px;
    

    @media #{$forwho_size1} {
      width: 387px;
    }
  }

  &__item-popup-text-p {
    margin:0;
    color: #000000;
    font-family: "PF Bague Sans Pro";
    font-size: 16px;
    font-weight: 400;
  }

  &__item-popup-list {
    list-style-type:none;
    padding-left: 6px;
  }

  &__item-popup-list-item {
    position: relative;
    color: #000000;
    font-family: "PF Bague Sans Pro";
    font-size: 16px;
    font-weight: 400;
    padding-left: 31px;
    margin-bottom: 15px;

    &:before {
      content: "";
      position: absolute;
      top: -7px;
      left: 0;
      padding-bottom: 10px;
      background-image: url(../images/forwho/check.png);
      background-repeat: no-repeat;
      width: 20px;
      height: 20px;
      background-size: cover;
    }
  }

  &__item-popup-subtitle {
    color: #000000;
    font-family: "PF Bague Sans Pro";
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
  }

  &__item-popup-form {
    display: inline-block;
    vertical-align: top;
    width: 374px;

    @media #{$forwho_size1} {
      width: 257px;
    }
  }

  &__item-popup-form-info {
    color: #000;
  }

  &__item-popup-form-form {
    margin-top: 11px;
    text-align: center;
  }

  &__item-popup-form-inp {
    margin-bottom: 10px;
    width: 100% !important;
  }

  &__item-popup-form-btn-wr {
    text-align: left;
  }

  &__item-popup-form-send-btn {
    padding: 18px 38px;
    margin-top: 15px;

    &:hover {
      box-shadow: 0 0 21px rgba(205, 187, 22, 0.74);
    }
  }


}
