$location_size1: "only screen and (max-width : 991px)";

.location{
  font-size: 0;
  margin-top: 64px;

	&__adress{
    background-image: url(../images/location/BGI.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 50%;
    height: 550px;
    display: inline-block;
    vertical-align: top;
    position: relative;



    @media #{$location_size1}{
      display: none;
    }
	}

  &__adress-info{
    background-image: url(../images/location/fram.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 291px;
    height: 392px;
    position: absolute;
    top: 46px;
    right: 37%;
    padding-top: 54px;
    padding-left: 41px;
  }

  &__date{
    color: #ffffff;
    font-family: "PF Bague Sans Pro";
    font-size: 34px;
    font-weight: 300;
    text-transform: uppercase;
  }

  &__place{
    color: #ffffff;
    font-family: "PF Bague Sans Pro";
    font-size: 60px;
    font-weight: 700;
    line-height: 50px;
    text-transform: uppercase;
    margin-top: 42px;
    width: 427px;
  }

  &__item{
    text-shadow: 0 2px 9px rgba(0, 0, 0, 0.76);
    color: #ffffff;
    font-family: "PF Bague Sans Pro";
    font-size: 30px;
    font-weight: 300;
    line-height: 34px;
    margin-top: 7px;
    width: 380px;
  }

  &__map{
    width: 50%;
    height: 550px;
    display: inline-block;
    vertical-align: top;


    @media #{$location_size1}{
      width: 100%;
      height: 350px;
    }
  }

}
