$networking_size1: "only screen and (max-width : 1347px)";
$networking_size2: "only screen and (max-width : 1243px)";
$networking_size3: "only screen and (max-width : 1120px)";
$networking_size4: "only screen and (max-width : 767px)";

.networking{

  background-image: url(../images/networking/BGI.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  height: 1000px;

  @media #{$networking_size4}{
    height: 1682px;
    background-image: url(../images/networking/BGI767.jpg);
    background-repeat: no-repeat;
    background-position: top center;
  }


  &__title{
    padding-top: 40px;
    width: 1020px;
    margin: 0 auto;

    @media #{$networking_size3}{
      width: 100%;
    }

    @media #{$networking_size4}{
      padding-top: 15px;
    }
  }

  &__title-items{
    display: inline-block;
    vertical-align: top;


    @media #{$networking_size4}{
      display: block;
    }
  }



  &__main{
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.78);
    color: #ffffff;
    font-family: "PF Bague Sans Pro";
    text-transform: uppercase;
    font-size: 100px;
    font-weight: 700;
    margin: 0;

     @media #{$networking_size3}{
      font-size: 70px;
      padding-left: 5%;
     }

     @media #{$networking_size4}{
      font-size: 40px;
      font-weight: 700;
     }
   }

  &__subtitle{
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.78);
    color: #ffffff;
    font-family: "PF Bague Sans Pro";
    line-height: 40px;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 300;
    line-height: 0px;
    letter-spacing: 0.1px;
    margin: 0;

    @media #{$networking_size3}{
      padding-left: 5%;
      padding-top: 14px;
      font-size: 35px;
    }
     
    @media #{$networking_size4}{
      font-size: 34px;
      font-weight: 300;
     } 


  }

  &__about{
    display: inline-block;
    vertical-align: top;
    margin-left: 9%;
    

    @media #{$networking_size3}{
      float: right;
      margin-left: 0;
    }

    @media #{$networking_size4}{
      display: block;
      float: none;
      margin-top: 45px;
      margin-left: 6%;
    }
  }

  &__about-frame{
    width: 119px;
    height: 116px;
    box-shadow: inset 0 8px 10px rgba(0, 0, 0, 0.55);
    display: inline-block;
    vertical-align: top;
    border: 10px solid #000;

    @media #{$networking_size3}{
      width: 75px;
      height: 75px;
    }

    @media #{$networking_size4}{
      width: 106px;
      height: 106px;
      border: 5px solid #000;
      box-shadow: none;
    }
  }

  &__about-link{
    width: 231px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.78);
    color: #ffe91e;
    font-family: "PF Bague Sans Pro";
    font-size: 40px;
    font-weight: 700;
    line-height: 34px;
    display: inline-block;
    vertical-align: top;
    margin-left: -95px;
    margin-top: 19px;

    @media #{$networking_size3}{
      font-size: 24px;
      line-height: 20px;
      padding-right: 40px;
      margin-top: 13px;

      @media #{$networking_size4}{
        margin-left: -119px;
        margin-top: 20px;
        width: 250px;
      }
     }
  }

  &__about-link-text{
    border-bottom: 2px solid #ffe91e;

    @media #{$networking_size3}{
      width: 75%; 
      margin-left: 20%;
    }

    @media #{$networking_size4}{
      width: 100%;
      line-height: 27px;
      font-size: 34px;
    }

  }

  &__about-link-text_first{
    width: 190px;

    @media #{$networking_size3}{
      width: 60%;
    }

     @media #{$networking_size4}{
      width: 80%;
     }
  }

  &__full-about {
    display: none;
    position: fixed;
    top: 10%;
    left: 50%;
    margin-left: -510px;
    width: 1020px;
    padding: 40px;
    background-color: #fff;
    box-shadow: 0 0 38px rgba(0, 0, 0, 0.3);
    border: 1px solid #dadada;
    z-index: 20;
    border-radius: 4px;

    @media #{$networking_size2} {
      width: 764px;
      margin-left: -382px;
    }
    @media #{$networking_size4} {
      width: 100%;
      margin-left: 0;
      left: 0;
      padding: 15px;
      top: 22px;
    }
    
    .mfp-content & {
      display: block;
    }    

    
    h3 {
      color: #000000;
      font-family: "PF Bague Sans Pro";
      font-size: 22px;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 14px;
      margin-top: 0;
    }

    p {
      color: #000000;
      font-family: "PF Bague Sans Pro";
      font-size: 18px;
      font-weight: 400;
      margin: 0;

      @media #{$networking_size4} {
        font-size: 14px;
      }
    }
  }

  &__full-about-list {
    list-style-type:none;
    padding-left: 6px;
  }

  &__full-about-list-item {
    position: relative;
    color: #000000;
    font-family: "PF Bague Sans Pro";
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    padding-left: 27px;
    margin-bottom: 5px;

    @media #{$networking_size4} {
      font-size: 14px;
    }

    &:before {
      content: "";
      position: absolute;
      top: -2px;
      left: 0;
      padding-bottom: 10px;
      background-image: url(../images/forwho/check.png);
      background-repeat: no-repeat;
      width: 16px;
      height: 16px;
      background-size: cover;

      @media #{$networking_size4} {
        top:-4px;
        width: 15px;
        height: 12px;
      }
    }
  }

  &__full-about-btn {
    margin-top: 20px;
  }

  &__category{
    width: 100%;
    margin: 0 auto;
    text-align: center;

    @media #{$networking_size4}{
      margin-top: 60px;
    }
  }

  &__category-item{
    background-repeat: no-repeat;
    background-position: top center;
    width: 36%;
    margin-top: 62px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    padding-left: 40px;
    background-color: #fff;
    margin-left: 8px;
    padding-bottom: 36px;
    position:relative;
    //transition: transform 0.3s linear;

    &:hover {
      transform: scale(1.002, 1.002);
      box-shadow: 0 0 38px rgb(81, 81, 81);
    }

    @media #{$networking_size3}{
      width: 40%;
      padding-left: 20px;
    }

    @media #{$networking_size4}{
      display: block;
      width: 95%;
      margin: 0 auto;
    }
  }

  &__category-item_first{
    border: 5px solid #f4e12a;
    background-image: url(../images/networking/vip.jpg);
    background-position: 0 0;
    max-width: 500px;
    height: 670px;

    @media #{$networking_size3}{
      background-position: -2px -1px;
      max-width: 514px;
      height: 667px;
    }

    @media #{$networking_size4}{
      margin-bottom: 70px;
      
    }            
  }

  &__category-item_second{
    background-image: url(../images/networking/business.jpg);
    margin-top: 72px;
    max-width: 494px;
    height: 650px;

    @media #{$networking_size3}{
      height: 606px;
    } 
  }

  &__category-title{
    margin-top: 183px;

    @media #{$networking_size3}{
      margin-top: 195px;
    }
  }

  &__category-title_second{

    @media #{$networking_size4}{
      margin-top: 0;
      padding-top: 141px;
    }
  }

  &__category-title-main{
  }

  &__category-title-main_vip {
    font-family: "PF Bague Sans Pro";
    font-weight: 700;
    color: #ffffff;
    font-size: 119px;
    margin-top: 183px;
    text-transform: uppercase;
    line-height: 83px;

    @media #{$networking_size3}{
      font-size: 80px;
      margin-top: 53px;
    }

  }

  &__category-title-main_business{
    font-family: "PF Bague Sans Pro";
    color: #fefefe;
    font-size: 83px;
    font-weight: 400;
    text-transform: initial;
    margin-left: -9px;
    line-height: 1.2;

    @media #{$networking_size3}{
      font-size: 71px;
      margin-top: 53px;
    }
  }

  &__category-title-subtitle{
  }

  &__category-title-subtitle_vip{
    font-family: "PF Bague Sans Pro";
    font-weight: 700;
    color: #f4bd3b;
    font-size: 34px;
    text-transform: initial;
    margin-top: 4px;

    @media #{$networking_size3}{
      font-size: 26px;
      margin-top: -10px;
    }
  }


  &__category-title-subtitle_business {
    font-family: "PF Bague Sans Pro";
    color: #000000;
    font-size: 34px;
    font-weight: 300;
    line-height: 34px;
    margin-top: -16px;
    margin-left: -6px;

    @media #{$networking_size3}{
      font-size: 26px;
    }
  }

  &__info{
  }

  &__item{
    width: 310px;
    margin-left: 60px;
    color: #3b3b3b;
    font-family: "PF Bague Sans Pro";
    font-size: 22px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 40px;
    margin-bottom: 30px;
    position: relative;

    @media #{$networking_size3}{
      width: 220px;
      font-size: 18px;
      margin-top: 27px;
      margin-bottom: 27px;
    }

    &:before{
      content: "";
      background-image: url(../images/networking/result.png);
      background-repeat: no-repeat;
      background-position: 0 0;
      height: 32px;
      width: 32px;
      position: absolute;
      position: absolute;
      top: -10px;
      left: -20%;
      
      @media #{$networking_size3}{
        top: 0px;
        left: -21%;
      }
    }
  }

  &__item_first{

    @media #{$networking_size3}{
      margin-bottom: 52px;
    }  
  }

  &__item_second{
    margin-bottom: 32px;
  }

  &__bottom {
    position: absolute;
    left: 0;
    width: 100%;

    &_first {
      bottom:18px;

      @media #{$networking_size1}{

      }

      @media #{$networking_size2}{

      }
    }

    &_second {
      bottom:13px;
      background-position: 6% 8px;

      @media #{$networking_size1}{
        background-position: 4% 8px;
      }

      @media #{$networking_size2}{
        background-image:none;
      }
    }
  }


  &__btn {
    display: block;    
    width: 84%;
    margin: 0 auto;
    color: #000000;
    font-family: "PF Bague Sans Pro";
    font-size: 24px;
    line-height: 67px;
    font-weight: 400;        
    text-align: center;
    background-color: #ffe917;
    background-image: url(../images/networking/ticket.png);
    background-repeat: no-repeat;
    background-position: top center;
    border-left: 1px solid rgba(0, 0, 0, 0.21);
    border-bottom: 1px solid rgba(0, 0, 0, 0.21);

    &:hover {
      border-left: 1px solid rgba(0, 0, 0, 0.11);
      border-bottom: 1px solid rgba(0, 0, 0, 0.11);
      box-shadow: 0 0 23px rgba(201, 182, 8, 0.74);
    }

    @media #{$networking_size3}{
      color: #000000;
    }


    &_first {
      background-position: 8% 8px;

      @media #{$networking_size1}{

      }

      @media #{$networking_size2}{
        background-image:none;
      }
    }

    &_second {
      background-position: 8% 8px;

      @media #{$networking_size1}{
      }

      @media #{$networking_size2}{
        background-image:none;
      }
    }
  }

  &__bottom-info {
    text-align: center;
    font-weight: 500;
    margin-top: 7px;
  }  

}
