$player_size1: "only screen and (max-width : 767px)";

.player {

  .plyr {
    border: 2px solid #ffe917;
  }

  .plyr__play-large {
    background-image: url(../images/player/play-big.png);
    width: 114px;
    height: 114px;
    border: none;
    border-radius: 0;
    background-color: transparent;
    box-shadow: none;
    background-size: cover;
    transition: none;

    @media #{$player_size1} {
      width: 76px;
      height: 76px;
      display: none;
    }

    &:hover{
      border: 4px solid rgba(236, 205, 79,1);
      border-radius: 50%;
    }


  }

  &.player_default-play .plyr__play-large {
    background-image: none;
    &:hover {
      border:none;
    }
  }

  .plyr__progress--played, .plyr__volume--display {
    color: #ffe917;
  }

  .plyr--video .plyr__controls button.tab-focus:focus, .plyr--video .plyr__controls button:hover {
    background: rgba(196, 196, 196, 0.46);
  }

  .plyr__play-large svg {
    visibility: hidden;
  }

}