$popupform_size1: "only screen and (max-width : 767px)";

.popup-form {
  display: none;
  position: fixed;
  top: 7%;
  left: 50%;
  margin-left: -201px;
  width: 447px;
  padding: 38px 38px;
  background-color: #f3f2f2;
  box-shadow: 0 0 38px rgba(0, 0, 0, 0.3);
  border: 1px solid #dadada;
  z-index: 20;
  border-radius: 4px;

  @media #{$popupform_size1} {
    width: 300px;
    margin-left: -150px;
    padding: 28px 38px;
  }

  .mfp-content & {
    display: block;
  }

  &__title { 

    &_intro {
      font-size: 29px;
      line-height: 34px;
      margin-bottom: 12px;

      b {
        font-size: 29px;
        line-height: 34px;
      }

      @media #{$popupform_size1} {
        font-size: 29px;
        line-height: 25px;
        margin-bottom: 15px;

        b {
          display: block;
        }
      }
    } 

    &_for-who-mobile {
      font-size: 29px;
      line-height: 25px;
      margin-bottom: 15px;

      b {
        display: block;
      }
    }

    &_network {
      font-size: 46px;
      line-height: 34px;
      margin-bottom: 20px;

      @media #{$popupform_size1} {
        font-size: 29px;
        line-height: 25px;
        margin-bottom: 15px;
      }
    } 

    &_online-transl {
      font-size: 46px;
      line-height: 34px;
      margin-bottom: 20px;

      @media #{$popupform_size1} {
        font-size: 29px;
        line-height: 25px;
        margin-bottom: 15px;
      }
    }

    &_formats {
      font-size: 24px;
      line-height: 30px;
      margin-bottom: 13px;

      b {
        font-size: 29px;
        text-transform: uppercase;
      }

      @media #{$popupform_size1} {
        
      }
    }

    &_spec-formats {
      font-size: 22px;
      line-height: 30px;
      margin-bottom: 13px;

      b {
        font-size: 26px;
        text-transform: uppercase;
      }

      @media #{$popupform_size1} {
        
      }
    }

    &_video-otziv {
      font-size: 29px;
      line-height: 25px;
      margin-bottom: 15px;
      
      @media #{$popupform_size1} {
        b {
          display: block;
        }
      }      
    }

    &_partners {
      font-size: 35px;
      line-height: 30px;
      margin-bottom: 7px;
      font-weight: 700;
    }    
  }

  &__info {

    &_network {
      max-width: 294px;

      @media #{$popupform_size1} {
        
      }
    } 

    &_formats {
     

      @media #{$popupform_size1} {
        
      }
    }    
    
  }

  &__form {
    margin-top: 30px;
    text-align: center;

    @media #{$popupform_size1} {
      margin-top: 18px;
    }
  }

  &__form-inp {
    margin-bottom: 10px;
    width: 100% !important;

    @media #{$popupform_size1} {
      font-size: 18px !important;
      height: 44px !important;
      padding: 16px 16px !important;
    }
  }

  &__form-send-btn{
    margin-top: 17px;
    padding: 18px 38px;

    @media #{$popupform_size1} {
      margin-top: 5px;
      font-size: 16px;
      width: 100%;
      padding: 18px 0;
    }
  }

}