.program-title-wr {
  position: relative;
}
.program-title-top {
  position: relative;
  text-shadow: 1px 0 0 rgba(92, 54, 0, 0.81);
  color: #ffe917;
  font-family: "PF Bague Sans Pro";
  line-height: 60px;  
  padding-top: 30px;
}

.program-title-top_line1 {
  font-size: 63px;
  font-weight: 400;
}

.program-title-top_line2 {
  font-size: 66px;
  font-weight: 700
}

.program-title-top:before {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  left: -100%;
  right: -100%;
  height: 11px;
  background-color: #ffe917;
  z-index: 1;
}

.program-title-bottom {
  position: relative;
  color: #1a1a1a;
  font-family: "PF Bague Sans Pro";
  font-size: 41px;
  font-weight: 400;
  height: 120px;
  padding-top: 23px;
}

.program-title-bottom strong {
  
  text-transform: uppercase;
  font-size: 54px;
  font-weight: 700;
}

.program-title-bottom:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -100%;
  right: -100%;
  background-color: #ffe917;
  z-index: -2;
}

.program-title-img {
  position: absolute;
  top: 50%;
  left: 50%;
  background-image: url(/images/bulb.png);
  background-size: cover;
  width: 87px;
  height: 87px;
  z-index: -1;
  margin-left: 366px;
  margin-top: -45px;
}

.program-lead {
  position: relative;
  height: 140px;
  color: #363636;
  font-family: "PF Bague Sans Pro";
  font-size: 20px;
  font-weight: 400;
  padding-top: 23px;
  padding-left: 10px;
  margin-top: 10px;
  width: 772px;
}

.program-lead:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
      width: 984px;
  height: 100%;
  background-image: url(../images/whygo.png);
  background-size: contain;
  background-repeat: no-repeat;
}

@media (max-width: 1199px) {
  .program-title-top {
    padding-top: 18px;
  }

  .program-title-top_line1 {
    line-height: 46px;
    font-size: 46px;
  }

  .program-title-top_line2 {
    font-size: 46px;
  }

  .program-title-top:before {
    height: 17px;
  }
  
  .program-title-bottom {
    font-size: 29px;
    height: 100px;
    padding-top: 21px;
  }

  .program-title-bottom strong {
    font-size: 36px;
  }

  .program-title-img {
    margin-left: 145px
  }

  .program-lead {
    font-size: 18px;
    padding-top: 12px; 
    width: 700px;
  }


  .program-lead:before {
    width: 110%;
  }

}

@media (max-width: 992px) {
  .program-title-img {
    margin-left: 240px
  }

  .program-lead:before {
    width:702px;
  }
}

@media (max-width: 767px) {
  .program-title-top_line2 {
    font-size: 43px;
  }

  .program-title-top:before {
    height: 18px;
  }
  
  .program-title-bottom {
    font-size: 29px;
    height: 78px;
    padding-top: 13px;
  }

  .program-title-bottom strong {
    font-size: 33px;
  }

  .program-title-img {
    width: 57px;
    height: 57px;
    margin-top: -34px;
    margin-left: 204px
  }

  .program-lead {
    font-size: 16px;
    width: 100%;;
  }

  .program-lead:before {
    width:100%;
  }

}

@media (max-width: 670px) {

  .program-title-wr {
    padding: 16px 0;
    text-align: center;
    line-height: 29px;
    margin-bottom: 40px;
  }
  .program-title-wr:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100%;
    right: -100%;
    background-color: #ffe917;
    z-index: -2;
  }
  .program-title-wr:after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 40px 140px 0 140px;
    border-color: #ffe817 transparent transparent transparent;
    bottom: -39px;
    margin-left: -140px;
    z-index: -2;
  }
  .program-title-top {
    display: inline; 
    text-align: center;
    line-height: 1;
  }
  .program-title-top_line1{
    display: inline;    
    color: #4a4a4a;
    font-size:24px;
    font-weight:300;
    line-height: 24px;
  }

  .program-title-top_line2 {
    display: inline;   
    color: #4a4a4a;
    font-size:24px;
    font-weight:700; 
    line-height: 24px;
  }

  .program-title-top:before {
    display: none;
  }

  .program-title-bottom {
    display: inline; 
    color: #4a4a4a;
    font-size:24px;
    font-weight:300;
    line-height: 24px;
    text-align: center;
    padding-top: 5px;
    position: static;
  }

  .program-title-bottom strong {
    color: #4a4a4a;
    font-size:24px;
    font-weight:700; 
    line-height: 24px;
    height: auto;
    padding-bottom: 19px;
  }

  .program-title-bottom:before {
    display: none;
  }

  .program-title-img {
    width: 88px;
    height: 88px;
    margin-top: -9px;
    margin-left: -39px;
  }

  .program-lead {

  }
  
  .program-lead:before {
    display: none;
  }

}
