$schedule_size1: "only screen and (max-width : 1650px)";
$schedule_size2: "only screen and (max-width : 1100px)";
$schedule_size3: "only screen and (max-width : 767px)";


.schedule{
  width: 70%;
  margin: 0 auto;
  position: relative;
  margin-bottom: 65px;
  padding-top: 30px;

  @media #{$schedule_size3}{
    width: 100%;
    margin-bottom: 44px;
  }



  &__title{
    color: #31363d;
    font-family: "PF Bague Sans Pro";
    font-size: 60px;
    font-weight: 700;

    @media #{$schedule_size2}{
      font-size: 50px;
      padding-left: 2%;
    }

    @media #{$schedule_size3}{
      padding-left: 4%;
    }

  }

  &__img{
    font-family: "PF Bague Sans Pro";
    font-size: 130px;
    font-weight: bold;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    text-transform: uppercase;
    color: #e6e6e6;
    position: absolute;
    bottom: 428px;
    left: -489px;
    

    @media #{$schedule_size1}{
      bottom: 468px;
     }

    @media #{$schedule_size2}{
      left: -375px;
      bottom: 438px;
      font-size: 103px;
    }

    @media #{$schedule_size3}{
      display: none;
    }
  }

  &__table{
    border-collapse: collapse;
    border-spacing: 0;
    border: 0;
    width: 100%;
    margin-left: 66px;

    @media #{$schedule_size3}{
      margin-left: 0px;
    }


  }


  &__table-row{

    font-family: "PF Bague Sans Pro";
    font-weight: 500;


    &:nth-child(even){
      background-color: #e6e6e6;
      color: #31363d;
      font-size: 24px;
      font-weight: 500;

      @media #{$schedule_size2}{
        font-size: 18px;
      }
    }

    &:nth-child(odd){
      color: #a9a9a9;
      font-size: 24px;

      @media #{$schedule_size2}{
        font-size: 18px;
      }
    }
  }

  &__table-cell{
    padding-top: 22px;
    padding-bottom: 22px;

    @media #{$schedule_size2}{
      padding-left: 10px;
      padding-top: 22px;
      padding-bottom: 22px;
    }

    @media #{$schedule_size3}{
      font-size: 16px;
      padding-right: 10px;
      padding-left: 5px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
}

  &__table-cell_head{
    color: #31363d;
    font-family: "PF Bague Sans Pro";
    font-size: 34px;
    font-weight: 300;
    text-align: left;

    @media #{$schedule_size3}{
      font-size: 16px;
      font-weight: 300;
      padding-left: 40px;
    }
  }

  &__table-cell_first{
    color: #a9a9a9;
    font-size: 24px;
    font-family: "PF Bague Sans Pro";
    font-weight: 500;

    @media #{$schedule_size3}{
      font-size: 16px;
    }
  }

  &__table-cell_time{
    color: #ebad31;
    font-family: "PF Bague Sans Pro";
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    padding-left: 70px;

    @media #{$schedule_size2}{
      font-size: 20px;
      padding-left: 5%;
    }

    @media #{$schedule_size3}{
      font-size: 18px;
      line-height: 20px;
    }
  }

  &__table-cell_second {
    padding-right: 50px;
    font-weight: 700;
    font-size: 24px;
  }

  &__table-cell_mobile {
    

    @media #{$schedule_size2}{
      display: none;
    } 
  }


  &__mobile-speaker{
    display: none;

    @media #{$schedule_size2}{
      display: block;
      vertical-align: top;
      color: #000000;
      font-weight: 300;
      font-style: italic;
      margin-top: 5px;
    }

  }

}






