$sj-oz_size1: "only screen and (max-width : 1800px)";
$sj-oz_size2: "only screen and (max-width : 1514px)";
$sj-oz_size3: "only screen and (max-width : 1280px)";
$sj-oz_size4: "only screen and (max-width : 1050px)";
$sj-oz_size5: "only screen and (max-width : 767px)";
$sj-oz_size6: "only screen and (max-width : 500px)";



.sj-oz{


  @media #{$sj-oz_size5}{
    padding-bottom: 50px;
  }

  
	&__title{
    color: #ffe941;
    font-family: "PF Bague Sans Pro";
    font-size: 137px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 54px;
    letter-spacing: -7.8px;
    line-height: 86px;

    @media #{$sj-oz_size3}{
      font-size: 117px;
      line-height: 72px;
    }

    @media #{$sj-oz_size5}{
      font-size: 90px;
      line-height: 57px;
    }

    @media #{$sj-oz_size6}{
      font-size: 80px;
      line-height: 50px;
    }

  }

	&__subtietles{
    width: 100%;
    background-color: #ffe941;
    padding-bottom: 17px;
  }

  &__subtietles-wrap{

  }

	&__subtietle1{
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    color: #1e1e1e;
    font-family: "PF Bague Sans Pro";
    line-height: 40px;
    font-size: 55px;
    font-weight: 700;
    margin: 0;
    text-transform: uppercase;
    padding-top: 31px;

    @media #{$sj-oz_size3}{
      font-size: 40px;
    }

    @media #{$sj-oz_size5}{
      font-size: 35px
    }

    @media #{$sj-oz_size6}{
      font-size: 30px
    }
  }

	&__subtietle2{
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    color: #1e1e1e;
    font-family: "PF Bague Sans Pro";
    line-height: 40px;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase;
    margin: 0;
    padding-top: 8px;

    @media #{$sj-oz_size3}{
      font-size: 20px;
    }

    @media #{$sj-oz_size5}{
      font-size: 18px
    }    

    @media #{$sj-oz_size6}{
      font-size: 16px;
      line-height: 25px;
    }
  }

	&__info{
    margin-top: 50px;
    
    @media #{$sj-oz_size5}{
      width: 100%;
      padding: 0px 0px;
      margin-top: 170px;
    }

    @media #{$sj-oz_size6}{
      margin-top: 80px;
    }
  }

	&__info-title{
    color: #d4d4d4;
    font-family: "PF Bague Sans Pro";
    font-size: 71px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    display: inline-block;
    vertical-align: top;
    line-height: 71px;
    letter-spacing: -2.8px;

    @media #{$sj-oz_size3}{
      font-size: 65px;
    }

    @media #{$sj-oz_size3}{
      font-size: 55px;
    }

    @media #{$sj-oz_size5}{
      padding-left: 20px;
    }

    @media #{$sj-oz_size6}{
      font-size: 40px;
    }
  }

	&__info-item{
    color: #1c1c1c;
    font-family: "PF Bague Sans Pro";
    font-size: 30px;
    font-weight: 300;
    line-height: 30px;
    vertical-align: top;
    display: inline-block;
    width: 690px;
    padding-top: 4px;
    margin-left: 19px;

    @media #{$sj-oz_size3}{
      width: 75%;
      font-size: 25px;
    }

    @media #{$sj-oz_size5}{
      font-size: 25px;
      background-color: rgba(255, 255, 255, 0.80);
      padding-left: 25px;
      margin-left: 0;
      width: 80%;
    }

    @media #{$sj-oz_size6}{
      font-size: 20px;
      width: 92%;
    }
  }

	&__advantages{
    position: relative;
    margin-top: 37px;

    @media #{$sj-oz_size5}{
      margin-top: 55px;
    }

    @media #{$sj-oz_size6}{
      margin-top: 35px;
    }
   }

	&__advantages-fon{
    height: 812px;
    width: 100%;
    background-color: #f1f1f1;
    position: absolute;
    z-index: -1;
    top: 40px;

    @media #{$sj-oz_size4}{
      height: 615px;
    }

    @media #{$sj-oz_size5}{
      display: none;
    }

  }

	&__advantages-box{
    background: linear-gradient(135deg, #1d1d1d 0%,#3d3d3d 40%,#2d2d2d 63%,#474747 100%);
    height: 790px;
    margin: 0 auto;
    width: 90%;
    position: relative;
    
    @media #{$sj-oz_size2}{
      height: 800px;
    }

    @media #{$sj-oz_size4}{
      height: 580px;
    }

    @media #{$sj-oz_size5}{
      background-image: none;
      box-shadow: 0 1px 20px;
      background-color: rgb(41, 41, 41);
      width: 100%;
      height: auto;
    }
  }

  &__box-img{
    position: absolute;
    width: 33%;
    bottom: 0;
    right: -40px;
    z-index: 0;
    

    @media #{$sj-oz_size1}{
      width: 550px;
    }
    
    @media #{$sj-oz_size4}{
      width: 400px;
    }

    @media #{$sj-oz_size5}{
      z-index: -1;
      top: -345px;
      width: 300px;
      right: 0px
    }

    @media #{$sj-oz_size6}{
      width: 200px;
      top: -260px;
    }
  }

  &__box-items-arrows {
    display: none;
    width: 77%;
    margin: 0 auto;
    position:relative;

    @media #{$sj-oz_size5}{
      display: block;
    }
  }

  &__box-items-arrows-prev {
    display: inline-block;
    vertical-align: top;
    position:absolute;
    bottom: -66px;
    right: 47px;
    z-index: 100;
    width: 18px;
    height: 26px;
    background-image:url('/images/SOz/prev-arrow.png');
  }

  &__box-items-arrows-next {
    display: inline-block;
    vertical-align: top;
    position:absolute;
    bottom: -66px;
    right: 12px;
    z-index: 100;
    width: 18px;
    height: 26px;
    background-image:url('/images/SOz/next-arrow.png');
  }

  
  &__box-items{
    width: 82%;
    margin: 0 auto;
    padding-top: 67px;

    @media #{$sj-oz_size1} {
      padding-top:42px;
    }

    @media #{$sj-oz_size2} {
      padding-top:29px;
    }

    @media #{$sj-oz_size5}{
      width: 100%;
      padding-top: 35px;
      padding-bottom:15px;
    }

    .owl-item {
        opacity: 0;
        transition: none !important;
    }
     .owl-item.active {
        opacity: 1;
        transition: none !important;
    }
  }

	&__box-item{
    color: #ffffff;
    font-family: "PF Bague Sans Pro";
    font-size: 22px;
    line-height: 26px;
    font-weight: 300;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 155px;
    position: relative;
    width: 80%;

    @media #{$sj-oz_size1}{
      padding-left: 7%;
      width: 77%;
    }

    @media #{$sj-oz_size3}{
      font-size: 17px;
      padding-left: 2%;
      width: 70%;
    }

    @media #{$sj-oz_size4}{
      padding-top: 14px;
      padding-bottom: 14px;
      font-size: 14px;
      line-height: 16px;
    }

    @media #{$sj-oz_size5}{
      width: 100%;
      font-size: 18px;
      line-height: 24px;
      font-weight: 300;  
      padding-top: 42px;    
    }
  }


  &__box-item:before{
    content: "";
    background-image: url(../images/SOz/check.png);
    position: absolute;
    width: 32px;
    height: 32px;
    margin-left: -61px;
    margin-top: 10px;


    @media #{$sj-oz_size4}{
      margin-left: -53px;
      margin-top: 1px;
    }

    @media #{$sj-oz_size5}{
      display: none;
    }
  }

  &__box-item-text {
    @media #{$sj-oz_size5}{
      width: 80%;
      margin: 0 auto;
      position:relative;
    }
  }

  &__box-item-num {
    position:absolute;
    top: -40px;
    left: 0;
    display: none;

    @media #{$sj-oz_size5}{ 
      display: block;
    }

  }

  &__box-item-num-cur {
    display: inline-block;
    vertical-align: top;
    font-family: "PF Bague Sans Pro";
    line-height: 24px;
    text-transform: uppercase;
    color: #ffe917;
    font-size: 34px;
    font-weight: 700;
  }

  &__box-item-num-total {
    display: inline-block;
    vertical-align: top;
    font-family: "PF Bague Sans Pro";
    line-height: 24px;
    text-transform: uppercase;
    color: #bbbaba;
    font-size: 26px;
    font-weight: 400;
  }

}
