$video-invit_size1: "only screen and (max-width : 1199px)";
$video-invit_size2: "only screen and (max-width : 991px)";
$video-invit_size3: "only screen and (max-width : 767px)";
$video-invit_size4: "only screen and (max-width : 560px)";
$video-invit_size5: "only screen and (max-width : 500px)";

.video-invit {
  background-image: url(../images/V-involve/BGI.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  height: 613px;

  @media #{$video-invit_size1} {
    height: 555px;
  }

  @media #{$video-invit_size2} {
    height: auto;
    padding-bottom: 55px;
  }

  @media #{$video-invit_size5} {
    padding-bottom: 40px;
  }

  &__container {
    padding:0 !important;
  }

  &__title{
    padding-top: 60px;
    text-align: center;
    color: #000000;
    font-family: "PF Bague Sans Pro";
    font-size: 60px;
    font-weight: 700;

    @media #{$video-invit_size2} {
      font-size: 46px;
      text-align: center;
      padding-top: 26px;
    }

    @media #{$video-invit_size5} {
      font-size: 30px;
    }
  }

  &__videos-wrap{
    margin-top: 60px;

    @media #{$video-invit_size2} {
      margin-top: 31px;
    }
  }

  &__video{
    position:relative;
    display: inline-block;
    vertical-align: top;
    width: 48%;

    @media #{$video-invit_size2} {
      display: block;
      width: 70%;
      margin: 0 auto;
    }

    @media #{$video-invit_size4} {
      width: 90%;
    }

    &:first-child {
      margin-right: 2%;

      @media #{$video-invit_size2} {
        margin: 0 auto;
        margin-bottom: 31px;
      }
    }
  }

  &__video-poster {
    position:absolute;
    top:2px;
    left: 2px;
    right:2px;
    bottom:2px;
    z-index: 3;
    cursor: pointer;
  }

  &__video-poster-img {
    position:relative;
    z-index: 0;
    width: 100%;
    height: 100%;
  }

  &__video-poster-toner {
    position:absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color:rgba(0, 0, 0, 0.34);
  }

  &__video-poster-play {
    position:absolute;
    top:50%;
    left: 50%;
    z-index: 2;
    background-image:url('../images/player/play-big.png');
    width: 60px;
    height: 60px;
    margin-top: -30px;
    margin-left: -30px;
    background-size:cover;
    opacity: 0.7;

    @media #{$video-invit_size4} {
      width: 50px;
      height: 50px;
      margin-top: -25px;
      margin-left: -25px;
    }
  }

  &__video-poster:hover &__video-poster-play {
    border: 2px solid rgba(236, 205, 79,1);
    border-radius: 50%;
  }

  &__video-poster-text {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    bottom: 40px;
    color: #ffffff;
    font-family: "PF Bague Sans Pro";
    font-size: 22px;
    font-weight: 700;
    z-index: 10;

    @media #{$video-invit_size1} {
      font-size: 20px;
    }

    @media #{$video-invit_size3} {
      bottom:20px;
    }

    @media #{$video-invit_size5} {
      padding:0 10px;
      font-size: 15px;
      line-height: 14px;
    }
  }
}
