$video-otziv_size1: "only screen and (max-width : 1199px)";
$video-otziv_size2: "only screen and (max-width : 991px)";
$video-otziv_size3: "only screen and (max-width : 767px)";
$video-otziv_size4: "only screen and (max-width : 560px)";
$video-otziv_size5: "only screen and (max-width : 420px)";

.video-otziv{

  width: 100%;
  margin: 0 auto;
  background-image: url(../images/video-otziv/BGI.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  padding-bottom: 50px;

  @media #{$video-otziv_size3} {
    padding-bottom: 30px;
  }

  &__conteiner{
  }


	&__title{
    font-size: 40px;
    width: 900px;
    margin: 0 auto;
		color: #000000;
		font-family: "PF Bague Sans Pro";
		font-size: 40px;
		font-weight: 700;
    text-align: center;
    padding-top: 30px;
    margin-bottom: 30px;

    @media #{$video-otziv_size1} {
      width: 654px;
      font-size: 31px;
    }

    @media #{$video-otziv_size2} {
      font-size: 31px;
    }

    @media #{$video-otziv_size3} {
      font-size: 23px;
      width: 490px;
    }

    @media #{$video-otziv_size4} {
      width: 100%;
      padding-left: 15px;
      padding-right: 15px;
    }

    @media #{$video-otziv_size5} {
      font-size: 16px;
      padding-left: 0px;
      padding-right: 0px;
    }
	}

  &__video {
    position:relative;
    margin-top: 30px;
    width: 70%;
    margin: 0 auto;

    @media #{$video-otziv_size4} {
      width: 90%;
    }
  }

  &__video-poster {
    position:absolute;
    top:2px;
    left: 2px;
    right:2px;
    bottom:2px;
    z-index: 3;
    cursor: pointer;
  }

  &__video-poster-img {
    position:relative;
    z-index: 0;
    width: 100%;
    height: 100%;
  }

  &__video-poster-toner {
    position:absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color:rgba(0, 0, 0, 0.34);
  }

  &__video-poster-play {
    position:absolute;
    top:50%;
    left: 50%;
    z-index: 2;
    background-image:url('../images/player/play-big.png');
    width: 114px;
    height: 114px;;
    margin-top: -67px;
    margin-left: -67px;
    background-size:cover;
    opacity: 0.7;

    @media #{$video-otziv_size3} {
      width: 76px;
      height: 76px;
      margin-top: -38px;
      margin-left: -38px;
    }

    @media #{$video-otziv_size4} {
      width: 50px;
      height: 50px;
      margin-top: -25px;
      margin-left: -25px;
    }
  }

  &__video-poster:hover &__video-poster-play {
    border: 2px solid rgba(236, 205, 79,1);
    border-radius: 50%;
  }

  &__btn-wr {
    margin-top: 30px;
    text-align: center;

  }

  &__btn {
    text-decoration: none;
    padding-left: 30px;
    padding-right: 30px;

    @media #{$video-otziv_size5} {
      font-size: 18px;
      padding-left: 20px;
      padding-right: 20px;
    }

  }

}
